<html>
    <head>
        <title>Gustavo Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hola Mundo</a></h1>
        </div>

        <div>
            <p>published: 07.07.2021, 16:19</p>
            <h2><a href="">Mi Primer Post</a></h2>
            <p>"Es genial trabajar con ordenadores. No discuten, lo recuerdan todo y no se beben tu cerveza"-- Paul Leary</p>
        </div>

        <div>
            <h2><a href="">Mi Segundo Post</a></h2>
            <p>"Controlar la complejidad es la esencia de la programación"-- Brian Kernigan</p>
        </div>
    </body>
</html>